* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 20px;
}


#header_section {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}


.search {
    margin-bottom: 20px;
    text-align: center;

}

#searchBar {
    padding: 8px;
    width: 20%;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

#searchButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #45a049;
}

h3 {
    padding: 20px;
}
#logo{
padding-right: 9px;
    width:50px;
    height:30px;
}
#random_meal{
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
}

#list_of_searched_meal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#random_meal,
#list_of_searched_meal {
    text-align: center;
}

.imageOfRandomFood {
    width: 20%;
    border-radius: 2px;
}

.listOfImages {
    width: 20%;
    border-radius: 2px;
}


.meal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.meal-item {
    text-align: center;
    width: 20%;
}

.listOfImages {
    width: 100%;
    height: auto;
}

.meal-item p {
    margin-top: 8px;
    font-weight:500;
}
.ing{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
#openModalBtn {
    margin-top: 20px;
    padding: 10px 20px; 
    border-radius: 4px;
    background-color: #4caf50; 
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px; 
    transition: background-color 0.3s;
}

#openModalBtn:hover {
    background-color: #45a049;
}


@media only screen and (max-width: 768px) {
    body {
        margin: 10px; 
    }

    #header_section {
        padding: 15px;
    }
    #logo{
        padding-right: 9px;
            width:50px;
            height:30px;
        }

    h1 {
        font-size: 28px; 
    }

    p {
        font-size: 16px;
        margin-bottom: 15px; 
    }

    .search {
        margin-bottom: 15px;
    }

    #searchBar {
        width: 40%;
    }

    #random_meal,
    #list_of_searched_meal {
        padding: 15px; 
        margin-bottom: 15px; 
    }

    .imageOfRandomFood,.listOfImages {
        width: 100%;  
        margin-bottom: 15px; 
    }

    .meal-item {
        width: 100%; 
    }
    #openModalBtn {
        padding: 5px 10px; 
        font-size: 16px; 
    }
    
    
}
